<div class="main ui container">
  <h2 class="ui dividing header">Usuários</h2>
  <div class="ui raised segments">
    <table class="ui single line table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Cpf</th>
          <th>E-mail</th>
          <th>Telefone</th>
        </tr>
      </thead>
      <tbody class="usuario">
        <tr *ngFor="let usr of usuarios">
          <td>{{usr.name}}</td>
          <td>{{usr.cpf}}</td>
          <td>{{usr.email}}</td>
          <td>{{usr.phone}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <a href="#/usuarios/novo" class="ui right labeled icon green button margin">
    <i class="right arrow icon"></i>
    Novo Usuário
  </a>
</div>
