<section class="section">
    <div class="ui container">
      <form class="ui form" [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="field">
          <label for="nome" class="label">Nome</label>
          <div class="control">
            <input id="nome" class="input" type="text" placeholder="" formControlName="nome">
          </div>
        </div>
        <div class="fields">
          <div class="eight wide field">
            <label>E-mail</label>
            <input type="email" placeholder="joe@schmoe.com" formControlName="email">
          </div>
          <div class="three wide field">
            <label for="cpf" class="label">CPF</label>
            <input id="cpf" class="input" type="text" placeholder="" formControlName="cpf">
          </div>
          <div class="five wide field">
            <label for="telefone" class="label">Telefone</label>
            <input id="telefone" class="input" type="text" placeholder="" formControlName="telefone">
          </div>
        </div>
        <div class="ui column">
          <div class="field is-grouped margin">
            <div class="ui buttons">
              <button class="ui button" routerLink="/usuarios/index">Cancelar</button>
              <div class="or"></div>
              <button class="ui positive button" type="submit">Savar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
